@font-face {
  font-family: "Pixua";
  src: url("/Pixua.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  color: #344;
  background-color: rgb(223, 242, 243);
}

pre {
  font-family: "Pixua", sans-serif;
  font-size: 56px;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Pixua", sans-serif;
  margin: 0;
}

main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.helpbtn {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 18px;
  cursor: pointer;
  color: #d1daec;
}

.controls a {
  font-size: 56px;
  padding: 12px
}

.black {
  color: #344;
}
.teal {
  color: #1c9;
}
.yellow {
  color: #f0c36f;
}
.green {
  color: #95d16a;
}
.blue {
  color: #54b0fc;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #d1daec;
    background-color: #1d2c3a;
  }
  .black {
    color: #d1daec;
  }
  .teal {
    color: #20f9fc;
  }
  .yellow {
    color: #f0c36f;
  }
  .green {
    color: #95d16a;
  }
  .blue {
    color: #54b0fc;
  }
}
