@font-face {
  font-family: "Pixua";
  src: url("/Pixua.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --c1: #302387;
  --c2: #fffdaf;
  --c3: #00faac;
  --c4: #ff3796;
  --cellSize: 24px;

  font-family: "Pixua", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--cellSize);

  color-scheme: light dark;
  color: var(--c2);
  background-color: var(--c1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cell {
  width: var(--cellSize);
  height: var(--cellSize);
  overflow: hidden;
}

.cell img {
  height: inherit;
}
