@font-face {
  font-family: "Pixua";
  src: url("/Pixua.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  color: #344;
  background-color: rgb(223, 242, 243);
}

pre {
  font-family: "Pixua", sans-serif;
  font-size: 40px;
}

body {
  font-family: "Pixua", sans-serif;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.black {
  color: #344;
}
.teal {
  color: #1c9;
}
.yellow {
  color: #f0c36f;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #d1daec;
    background-color: #1d2c3a;
  }
  .black {
    color: #d1daec;
  }
  .teal {
    color: #20f9fc;
  }
  .yellow {
    color: #f0c36f;
  }
}
